*.pyc
*.swo
*.swp
~*
*~
build/
dist/
.project
*.egg*
.DS_Store
.idea/
.tox/
.pytest_cache/
.idea/vcs.xml
postgres*.log
.aiida_envs.yaml
.vscode/
docs/_build/
pip-wheel-metadata/
example_inputs/
pytest_workdir/
