# Install pre-commit hooks via
# pre-commit install

exclude: >
    (?x)^(
      aiida_lammps/tests/input_files/.*|
      aiida_lammps/tests/.*txt
    )$

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
    - id: isort

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      # additional_dependencies:
      # - flake8-bugbear==20.1.4
      # - flake8-builtins==1.5.3
      # - flake8-comprehensions==3.2.3
      exclude: >
        (?x)^(
          aiida_lammps/calculations/dynaphopy.py
        )$

  - repo: local
    hooks:
    - id: version-number
      name: Check version numbers
      entry: python ./.pre-commit/check_version.py version
      language: python
      files: >-
        (?x)^(
          setup.json|
          .pre-commit/check_version.py|
          aiida_lammps/__init__.py
        )$
      pass_filenames: false
      additional_dependencies:
        - click

    # TODO could also add check-manifest
