[build-system]
# Minimum requirements for the build system to execute.
requires = ["setuptools", "wheel", "reentry>=1.3.0"]

[tool.isort]
skip = ["venv"]
# Force imports to be sorted by module, independent of import type
force_sort_within_sections = true
# Group first party and local folder imports together
no_lines_before = ["LOCALFOLDER"]

# Configure isort to work without access to site-packages
known_first_party = ["aiida_lammos"]

# Settings for Black compatibility
profile = "black"
